body        {
    padding: 5px;
}

nav, a     {
    background-color: black;

    color: white;
}

div, .slider  {
    display: inline;
    margin-left: 15%;

}

div, img    {
    margin: 5px auto;
    width: 35%;
    align: center;

}

footer      {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 200px;
}

div.footer-alamat {
    font-weight: lighter;
    
}